* {
    margin: 0;
    padding: 0;
    box-sizing: border-box;
}

/* VARIABLES - UTILIDADES */
:root{
    /* COLORES */
    --bg-root: rgb(66,68,87);
    --bg-primary: rgb(32,33,42);
    --bg-secondary: rgb(55,57,63);
    --bg-tertiary: rgb(40,41,50);
    --hi-success: rgb(17,201,0);
    --hi-warning: rgb(225,147,5);
    --hi-danger: rgb(255,0,126);
    --hi-primary: rgb(138,149,255);
    --hi-secondary: rgb(90,104,242);
    --fg-primary: rgb(233,233,233);
    --fg-secondary: rgb(131,133,137);
    /*MEDIDAS*/
    --fw-sm: 500;
    --fw-base: 700;
    /*MEDIDAS*/
    --sp-base: 16px;
    --sp-sm-1: calc(7/8 * var(--sp-base));
    --sp-sm-2: calc(6/8 * var(--sp-base));
    --sp-sm-3: calc(5/8 * var(--sp-base));
    --sp-sm-4: calc(4/8 * var(--sp-base));
    --sp-sm-5: calc(3/8 * var(--sp-base));
    --sp-sm-6: calc(2/8 * var(--sp-base));
    --sp-sm-7: calc(1/8 * var(--sp-base));
    --sp-lg-7: calc((1 + 7/8) * var(--sp-base));
    --sp-lg-6: calc((1 + 6/8) * var(--sp-base));
    --sp-lg-5: calc((1 + 5/8) * var(--sp-base));
    --sp-lg-4: calc((1 + 4/8) * var(--sp-base));
    --sp-lg-3: calc((1 + 3/8) * var(--sp-base));
    --sp-lg-2: calc((1 + 2/8) * var(--sp-base));
    --sp-lg-1: calc((1 + 1/8) * var(--sp-base));
    /*major third scale*/
    /*factor: 1.250*/

    --fs-sm-1: 008rem;
    --fs-base: 1rem;
    --fs-lg-1: 1.25rem;
    --fs-lg-2: 1.563rem;
    --fs-lg-3: 1.953rem;
    --fs-lg-4: 2.441rem;
    --bd-radius: 24px;
    --bd: 1px solid var(--bg-secondary);
}

html {
    font-size: 14px;
    line-height: 1.2;
    font-family: "Lato", sans-serif;
    font-weight: var(--fw-base);
}

body {
    background-color: var(--bg-root);
    display: grid;
    place-content: center;

    min-height: 100vh;
    min-width: 100vw;
    /* //practicar mas */
    overflow-x: hidden; 
    padding: var(--sp-base);

    color: var(--fg-primary);
}


/* RESPONSIVO */
@media (min-width: 320px) {
    main {
        display: grid;
        grid-template-columns: 1fr;
        grid-template-rows: 1fr;
        gap: var(--sp-lg-4);
    
        width: 320px;
        max-width: 320px;
        aspect-ratio: 320 / 767;
        border-radius: calc(5 / 3 * var(--bd-radius));
        /* padding: calc(4 * var(--sp-base)); */
    
        background-color: var(--bg-primary);
        box-shadow: 67px 62px 120px 0px 
        rgba(33, 37, 52, 0.75);
    }
}
@media (min-width: 768px) {
    main {
        display: grid;
        grid-template-columns: 1fr;
        grid-template-rows: 1fr;
        gap: var(--sp-lg-4);
    
        width: 768px;
        max-width: 768px;
        aspect-ratio: 768 / 1024;
        border-radius: calc(5 / 3 * var(--bd-radius));
        /* padding: calc(4 * var(--sp-base)); */
    
        background-color: var(--bg-primary);
        box-shadow: 67px 62px 120px 0px 
        rgba(33, 37, 52, 0.75);
    }
}
@media (min-width: 1024px) {
    main {
        display: grid;
        grid-template-columns: 1fr;
        grid-template-rows: 1fr;
        gap: var(--sp-lg-4);
    
        width: 1024px;
        max-width: 1024px;
        aspect-ratio: 1024 / 768;
        border-radius: calc(5 / 3 * var(--bd-radius));
        /* padding: calc(4 * var(--sp-base)); */
    
        background-color: var(--bg-primary);
        box-shadow: 67px 62px 120px 0px 
        rgba(33, 37, 52, 0.75);
    }
}
@media (min-width: 1280px) {
    main {
        display: grid;
        grid-template-columns: 1fr;
        grid-template-rows: 1fr;
        gap: var(--sp-lg-4);
    
        width: 1280px;
        max-width: 1280px;
        aspect-ratio: 1280 / 758;
        border-radius: calc(5 / 3 * var(--bd-radius));
        /* padding: calc(4 * var(--sp-base)); */
    
        background-color: var(--bg-primary);
        box-shadow: 67px 62px 120px 0px 
        rgba(33, 37, 52, 0.75);
    }
}
/* FINAL RESPONSIVE */

article {
    display: grid;
    grid-template-rows: 1fr 7fr 0.5fr;
    /* gap: var(--sp-lg-5); */
}

header {
    display: grid;
    border-radius: 
        calc(5 / 3 * var(--bd-radius)) 
        calc(5 / 3 * var(--bd-radius))
        0px
        0px;
    background-color: var(--bg-tertiary);
    padding: var(--sp-lg-5);
    box-shadow: none 10px 12px 0px 
    rgba(33, 37, 52, 0.75);
}

footer {
    display: grid;
    border-radius: 
        0px
        0px
        calc(5 / 3 * var(--bd-radius))
        calc(5 / 3 * var(--bd-radius));
    background-color: var(--bg-tertiary);
    padding: var(--sp-lg-5);
}

h1 {
    color: var(--hi-primary);
    font-weight: var(--fw-sm);
    margin: 0;
    font-size: var(--fs-lg-3);
}

h2 {
    color: var(--hi-primary);
    font-weight: var(--fw-sm);
    margin: 0;
    font-size: calc( 2 / 3 * var(--fs-lg-2));
}

h3 {
    color: var(--hi-primary);
    font-weight: var(--fw-sm);
    margin: 0;
    font-size: calc( 1 / 2 * var(--fs-lg-2));
}
/*utilities*/
.text--muted {
    color: var(--fg-secondary);
}

.text--light {
    color: var(--fg-secondary);
    font-weight: var(--fw-sm);
}

nav {
    /*just for now*/
    min-width: 98px;
}

/* SCROLL PERSONALIZADO */
.deslizador::-webkit-scrollbar {
    height: 10px;
    background: var(--bg-primary)
}
.deslizador::-webkit-scrollbar-thumb {
    background: var(--bg-secondary);
    border-radius: 4px;
}



