.grid {
    display: grid;
    /* gap: var(--sp-lg-5); */
    grid-template-rows: 1fr;
    grid-template-columns: 15% 1fr;
    /* padding: calc(4 * var(--sp-base)); */
/* ----- DEFINIR AREAS ------ */
    grid-template-areas:
        "opciones   contenedor"
        ;
}

/* RESPONSIVO */
@media (min-width: 320px) {
    .grid {
        display: grid;
        grid-template: 
        "opciones" 15%
        "contenedor" 1fr;
    }
}
@media (min-width: 768px) {
    .grid {
        display: grid;
        grid-template: 
        "opciones" 10%
        "contenedor" 1fr;
    }
}
@media (min-width: 1024px) {
    .grid {
        display: grid;
        /* gap: var(--sp-lg-5); */
        grid-template-rows: 1fr;
        grid-template-columns: 15% 1fr;
        /* padding: calc(4 * var(--sp-base)); */
    /* ----- DEFINIR AREAS ------ */
        grid-template-areas:
            "opciones   contenedor"
            ;
    }
}
@media (min-width: 1280px) {
    .grid {
        display: grid;
        /* gap: var(--sp-lg-5); */
        grid-template-rows: 1fr;
        grid-template-columns: 15% 1fr;
        /* padding: calc(4 * var(--sp-base)); */
    /* ----- DEFINIR AREAS ------ */
        grid-template-areas:
            "opciones   contenedor"
            ;
    }
}

/* 
.grid > * {
    background-color: var(--bg-fondo);
    
    border-radius: 10px;

} */



.opciones {
    grid-area: opciones;
}

.contenedor {
    grid-area: contenedor;
}


/* section {
    --icon-size: 58px;
    --padding: var(--sp-lg-1);

    background: var(--bg-tertiary);
    border: var(--bd);
    border-radius: var(--bd-radius);

    display: grid;
    grid-template-rows:max-content 1fr;
} */

.cont-bordes {
    --icon-size: 58px;
    --padding: var(--sp-lg-1);

    background: var(--bg-tertiary);
    border: var(--bd);
    border-radius: var(--bd-radius);

    display: grid;
    grid-template-rows:max-content 1fr;
}